.card{
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: #1E1E1E;
  border-radius: 4px;
  font-family: "Roboto Light", sans-serif;
  .cardHeader{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      img{
        margin: 15px 0;
        border-radius: 20%;
        width: 80px;
        height: auto;
        border:1px solid #383838;
      }
      h1{
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
    }
    .cardTag{
      padding: 15px 0;
      width: 100%;
      span{
        background-color: #383838 ;
        margin: 5px 5px;
        padding: 5px 10px;
        border-radius: 16px;
        font-size: 10px;
      }
    }
  }

  .cardContent{
    width: 100%;
    background-color: #121212;
    padding: 15px 10px;
    text-align: center;
    font-size: 14px;
  }

  .cardFooter{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #121212;
    padding: 15px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


button{
  padding: 5px;
  background-color: #435767;
  transition: 0.2s ease;
  border: none;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  &:hover{
    background-color: #378BE4;
    transition: 0.2s ease;
  }
}
